<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emeint.android.sdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.emeint.android.sdk.views.activities.BaseActivity"
            android:configChanges="orientation|screenSize|locale|keyboardHidden"
            android:label="BaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
    </application>

</manifest>